header {
  background: #009688;

  .logo {
    font-weight: bold;
  }

  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: 0.8em;
          @media (max-width: 340px) {
            padding: 1em;
          }
          &:hover {
            background: #26a69a;
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .container {
    width: 90%;
    padding: 1.3em 1.3em;
    margin: 0;
  }
}
